/* ---------- RESET ---------- */

*,
*:before,
*:after
{
   box-sizing: border-box;
}
html
{
   font-size: 100%;
}
h1, h2, h3, h4, h5, h6
{
   margin: 0;
}
ul, ol
{
   margin: 0;
   padding: 0;
}
li
{
   list-style-type: none;
}
figure
{
   margin: 0;
}
a
{
   text-decoration: none;
}
img
{
   max-width: 100%;
}

/* ---------- COMMONS ---------- */

body
{
  position: relative;
  display: flex;
}
.img_back
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.continue_reading
{
  background: #4f4fe2;
  color: white;
  padding: 1REM;
}

/* ---------- HEADER --------- */

.block_menu
{
  width: 22.5%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 100vh;
}

.block_header
{
  background: #4f4fe2;
  padding: 1REM;
}
.block_header .main_title
{
  padding: 2REM 3REM;
  text-align: center;
  border: 1px solid white;
  color: white;
}
.block_header .main_title > span
{
  font: bold;
}

.block_nav .menu_left
{
  padding: 40% 10%;
}
.block_nav .menu_left li
{
  padding: 0.5REM;
}
.block_nav .menu_left a
{
  color: white;
}

/* ---------- CENTER ---------- */

.block_center
{
  margin: 0 2% 0 25%;
  width: 100%;
}

.slider
{
  color: white;
  text-align: right;
  padding: 2REM;
  height: 100vh;
}
.slider .title
{
  font-size: 2.7REM;
  padding-top: 20%;
}
.slider .discover_more
{
  background: white;
  padding: 1REM;
}
.slider > p
{
  font-size: 0.8REM;
  padding-bottom: 2REM;
}

.places
{
  margin: 5REM 0;
  border-bottom: 1px solid #4f4fe2;
}
.places .head,
.projects .head,
.blog .head
{
  display: flex;
  width: 100%;
  margin-bottom: 2REM;
}
.places .title,
.projects .title,
.blog .title
{
  width: 10%;
  margin-right: 2REM;
}
.places .title > span,
.projects .title > span,
.presentation .title > span,
.blog .title > span
{
  color: #4f4fe2;
}
.places .head > p
{
  width: 70%;
}
.places .container,
.projects .container
{
  display: flex;
  margin: 0 -1REM;
}
.places .featured
{
  width: 33.33%;
  margin: 1REM;
}
.places .featured > img
{
  width: 100%;
}
.places .featured > h3
{
  margin: 0.5REM 0;
}
.places .featured > h4
{
  color: grey;
}
.places .featured > p
{
  color: rgb(100, 100, 100);
}

.projects .inner .image
{
  margin: 1REM;
}
.projects .block_1 .image:first-child
{
  margin-bottom: 18REM;
}

.presentation
{
  margin: 3REM 0;
  background: rgb(230, 230, 230);
  text-align: center;
  padding: 2REM;
}
.presentation .title
{
  margin: 2REM 0 1REM 0;
}
.presentation > p
{
  color: rgb(100, 100, 100);
  margin-bottom: 3REM;
}
.presentation > img
{
  margin: 3REM 0;
}

.blog
{
  margin: 3REM 0;
}
.blog .block_nav
{
  display: flex;
  border-bottom: 5px solid #4f4fe2;
}
.blog .block_nav > a
{
  width: 25%;
  text-align: center;
  padding: 2REM;
  color: black;
}
.blog .block_nav > a:hover,
.blog .block_nav > a:focus
{
  background: #4f4fe2;
  color: white;
}
.blog .item
{
  display: flex;
  padding: 1REM;
}
.blog .container
{
  background: rgb(230, 230, 230);
}
.blog .image
{
  margin-right: 1REM;
}
.blog h4
{
  color: rgb(100, 100, 100);
}
.blog .container p
{
  color: rgb(100, 100, 100);
  padding-bottom: 1REM;
}

/* ---------- FOOTER ---------- */

.block_footer
{
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 1REM;
  margin: 0 -2.7% 0 -3.5%;
}
